footer {
  background: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  flex-wrap: wrap;

  @include flex(flex-start, center, row);

  // ul {
  //   @include flex(space-around, center, row);
  //   flex: 1 1 20rem;
  // }

  p {
    flex: 1 1 40rem;
    font-size: 2rem;
  }

  h4 {
    flex: 1 1 60rem;
  }
}
